<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN"
	packages="org.apache.logging.log4j.core,net.kencochrane.raven.log4j2">
	<Properties>
		<Property name="log-path">platform-logs</Property>
	</Properties>
	<Appenders>
		<Console name="console-log" target="SYSTEM_OUT">
			<PatternLayout
				pattern="[%level] [%d{yyyy-MM-dd HH:mm:ss.SSS}] %c{1} %M - %msg%n" />
		</Console>
		<RollingFile name="info-log" fileName="${log-path}/local-platform-info.log"
			filePattern="${log-path}/local-platform-info-%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<pattern>[%level] [%d{yyyy-MM-dd HH:mm:ss.SSS}] %c{1} %M - %msg%n
				</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
			</Policies>
		</RollingFile>
		<RollingFile name="error-log" fileName="${log-path}/local-platform-error.log"
			filePattern="${log-path}/local-platform-error-%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<pattern>[%level] [%d{yyyy-MM-dd HH:mm:ss.SSS}] %c{1} %M - %msg%n
				</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
			</Policies>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Logger name="com.benzene.platform" level="info" additivity="false">
			<appender-ref ref="info-log" level="info" />
			<appender-ref ref="error-log" level="error" />
		</Logger>
		<Logger name="org.hibernate" level="off" additivity="false">
			<appender-ref ref="info-log" level="off" />
			<appender-ref ref="error-log" level="off" />
		</Logger>
		<Root level="all" additivity="false">
			<appender-ref ref="info-log" level="info" />
		</Root>
	</Loggers>
</Configuration>

